
<app-generic-list [list]="movies">
    <ng-container content>
        <div *ngFor="let movie of movies; let index = index" class="movie-container">
            <div>
               {{index}}) {{movie.title | lowercase}} 
               <button style="margin-left: 1rem;" (click)="remove(index)">Remove</button>
            </div>
            <div>
                {{movie.relesaseDate |date:"dd-MM-yyyy"}}
            </div>
            <div>
                {{movie.price|currency:"EUR"}}
            </div>
        </div>
    </ng-container>    
</app-generic-list>
